.default {
  #name-gen-tab {
    #name-generators {
      .name-container {
        margin: 10px;

        button {
          @include confirm-button();
        }

        ul {
          list-style: none;
          padding: 0px;

          li {
            margin: 5px;
            padding: 5px;
            text-align: center;
            font-size: 18px;
            @include primary-light();
          }
        }
      }

      @media only screen and (min-width: 1200px) {
        display: flex;
        align-items: center;

        .name-container {
          flex: 1;
        }
      }
    }
  }
}
