.default {
  #name-gen-tab {
    #name-gen-about {}

    #name-generators {
      .name-container {
        margin: 10px;

        ul {
          list-style: none;
          padding: 0px;

          li {
            margin: 5px;
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            font-size: 18px;

            &.elf {
              color: white;
              background-color: $med-turq;
            }

            &.human {
              color: white;
              background-color: $pineapple;
            }
          }
        }
      }

      @media only screen and (min-width: 1200px) {
        display: flex;
        align-items: center;

        .name-container {
          flex: 1;
        }
      }
    }
  }
}
