body {
  margin: 0px;
}

header {
  font-size: 24px;
  border: 1px solid #333333;
  background-color: #DDDDDD;
}

#rs-main {
  display: flex;
  align-content: center;
}

nav {
  border: 1px solid #333333;
}

main {
  border: 1px solid #333333;
}

footer {
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding: 10px 0px 10px 0px;
  border: 1px solid #333333;
}
