.default {
  main {
    padding: 10px;
    margin-bottom: 58px;

    article {
      padding: 20px;
      border-radius: 2px;
      h2 {
        margin: 0px;
      }
      @include primary();
      @include box-shadow(0px, 5px, 5px, 0px, rgba(0,0,0,0.4));
    }
  }
}
