.default {
  main {
    padding: 10px;
    margin-bottom: 58px;

    article {
      @include primary();
      padding: 20px;
      border-radius: 2px;
      h2 {
        margin: 0px;
      }
    }
  }
}
