.default {
  #flc-combat-tab {

    #flc-combat-container {
      margin: 0 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-content: center;

      button#combat-reset-button {
        @include error-button();
      }

      button#combat-start-button {
        @include confirm-button();
      }

      button#add-turn-button {
        @include confirm-button();
      }
    }

    #flc-combat-setup {
      display: flex;
      flex-direction: column;

      #participant-container {
        width: 100%;
        .new-participant {
          @include primary-reverse();
          padding: 10px;
          margin: 5px;

          .participant-field {
            margin: 10px;
            display: flex;

            input {
              color: inherit;
              border-color: inherit;

              &:focus {
                color: $secondary;
                border-color: $secondary;
              }
            }

            .participant-label {
              @include col4()
              margin-right: 10px;
            }

            .participant-input {
              @include col6()
            }
          }
        }
      }

      button#add-combat-participant {
        box-shadow: none;
        border: 3px dashed $primary-text;
        color: $primary-text;
        background-color: $primary;
        font-size: 28px;
        margin: 5px;
        padding: 0 10px 0 10px;
        transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

        &:hover {
          @include box-shadow(0px, 6px, 10px, 0px, rgba(0,0,0,0.2));
          transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
        }
      }

      button#combat-start-button {
        @include confirm-button();
      }
    }

    #flc-combat-turns {
      ol {
        padding: 0 40px 0 40px;
      }

      .turn-wrapper {
        padding: 10px;
        margin: 10px 5px 10px 5px;
        @include primary-reverse();

        .turn-counter {
          @include center();
          text-decoration: underline;
          font-size: 36px;
          font-weight: bold;
        }

        .turn-participant {
          padding: 10px;
          margin: 5px 0 5px 0;
          @include secondary();
          text-align: center;

          .participant {
            margin: 10px 0 10px 0;
          }

          button {
            @include primary-reverse();
          }

          .part-form {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .condition-container {
            display: flex;
            flex-wrap: wrap;

            .condition {
              @include primary-reverse();
              font-weight: bold;
              padding: 5px;
              margin: 2px 5px 2px 5px;
            }
          }
        }
      }
    }

    @include underline-input();

    @media only screen and (min-width: 768px) {
      display: flex;
      align-content: center;
      flex-direction: column;

      #flc-combat-setup {
        #participant-container {
          display: flex;
          flex-wrap: wrap;

          .new-participant {
            .participant-field {
              .participant-label {
                margin-right: 10px;
              }
            }
          }
        }
      }

      #flc-combat-turns {
        .turn-wrapper {
          display: flex;
          align-items: center;

          .turn-counter {
            flex: 1;
            text-decoration: none;
            margin-right: 10px;

            &:after {
              content: ')';
            }
          }

          .turn-actor {
            flex: 30;
            .turn-participant {
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .participant-name {
                @include col1();
              }

              .participant-hp {
                @include col2();
              }

              .participant-fp {
                @include col2();
              }

              .participant-condition {
                @include col4();
              }

              .participant-update {
                @include col1();
              }

              .condition-applicator {
                display: flex;
                flex-wrap: wrap;
              }
            }
          }
        }
      }
    }
  }
}
