.default {
  #flc-combat-tab {
    @media only screen and (max-width: 600px) {
      #flc-combat-setup {
        #participant-container {
          width: 100%;
        }
      }

      #flc-combat-turns {
        .turn-participant {
          text-align: center;
        }
      }
    }

    @media only screen and (min-width: 600px) {
      #flc-combat-setup {
        #participant-container {
          width: 100%;
        }
      }

      #flc-combat-turns {
        .turn-participant {
          text-align: center;
        }
      }
    }

    @media only screen and (min-width: 768px) {
      #flc-combat-setup {
        #participant-container {
          width: 100%;
        }
      }

      #flc-combat-turns {
        .turn-participant {
          text-align: center;
        }
      }
    }

    @media only screen and (min-width: 1200px) {
      display: flex;
      align-content: center;
      flex-direction: column;

      #flc-combat-setup {
        #participant-container {
          display: flex;
          flex-wrap: wrap;

          .new-participant {
            .participant-field {
              .participant-label {
                margin-right: 10px;
              }
            }
          }
        }
      }

      #flc-combat-turns {
        .turn-participant {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .participant-name {
            @include col1();
          }

          .participant-hp {
            @include col2();
          }

          .participant-fp {
            @include col2();
          }

          .participant-condition {
            @include col4();
          }

          .participant-update {
            @include col1();
          }
        }
      }
    }

    #flc-combat-container {
      margin: 0 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    #flc-combat-setup {
      display: flex;
      flex-direction: column;

      #participant-container {
        .new-participant {
          padding: 10px;
          margin: 5px 10px 5px 10px;
          border: 3px solid $slate-gray;
          border-radius: 5px;

          .participant-field {
            margin: 10px;
            display: flex;

            .participant-label {
              @include col4()
              margin-right: 10px;
            }

            .participant-input {
              @include col6()
            }
          }
        }
      }

      #add-combat-participant {
        border: 3px dashed $slate-gray;
        color: $slate-gray;
        background-color: white;
        font-size: 28px;
        margin: 5px 10px 5px 10px;
        padding: 0 10px 0 10px;
      }
    }

    #flc-combat-turns {
      ol {
        padding: 0 40px 0 40px;
      }
      .turn-participant {
        padding: 10px;
        margin: 5px 0 5px 0;
        border: 3px solid $slate-gray;
        border-radius: 5px;

        .part-form {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .condition-container {
          display: flex;
          flex-wrap: wrap;

          .condition {
            border: 1px solid $cyber-grape;
            background-color: $cyber-grape;
            color: white;
            border-radius: 3px;
            padding: 0 5px 0 5px;
            margin: 2px 5px 2px 5px;
          }
        }
      }
    }

    input {
      margin-top: 5px;
      text-align: center;
      border: none;
      border-bottom: 1px solid black;

      &:focus {
        outline: none;
        color: $lapis-lazuli;
        border-bottom: 2px solid $lapis-lazuli;
      }
    }
  }
}
