.default {
  #flc-combat-tab {

    #flc-combat-container {
      margin: 0 10px 10px 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    #flc-combat-setup {
      display: flex;
      flex-direction: column;

      #participant-container {
        width: 100%;
        .new-participant {
          @include secondary-light();
          padding: 10px;
          margin: 5px 10px 5px 10px;
          border-radius: 5px;

          .participant-field {
            margin: 10px;
            display: flex;

            .participant-label {
              @include col4()
              margin-right: 10px;
            }

            .participant-input {
              @include col6()
            }
          }
        }
      }

      #add-combat-participant {
        border: 3px dashed $slate-gray;
        color: $slate-gray;
        background-color: $primary;
        font-size: 28px;
        margin: 5px 10px 5px 10px;
        padding: 0 10px 0 10px;
      }
    }

    #flc-combat-turns {
      ol {
        padding: 0 40px 0 40px;
      }

      .turn-wrapper {
        padding: 10px;
        margin: 10px 0 10px 0;
        @include primary-dark();
        border-radius: 5px;

        .turn-counter {
          @include center();
          text-decoration: underline;
          font-size: 36px;
          font-weight: bold;
        }

        .turn-participant {
          padding: 10px;
          margin: 5px 0 5px 0;
          border-radius: 5px;
          @include secondary();
          text-align: center;

          .participant {
            margin: 10px 0 10px 0;
          }

          button {
            @include primary-dark();
          }

          .part-form {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          .condition-container {
            display: flex;
            flex-wrap: wrap;

            .condition {
              @include primary-dark();
              border-radius: 3px;
              padding: 0 5px 0 5px;
              margin: 2px 5px 2px 5px;
            }
          }
        }
      }
    }

    input {
      margin-top: 5px;
      text-align: center;
      border: none;
      background-color: inherit;
      border-bottom: 1px solid $secondary-text;
      color: $secondary-text;

      &:focus {
        outline: none;
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }

    @media only screen and (min-width: 768px) {
      display: flex;
      align-content: center;
      flex-direction: column;

      #flc-combat-setup {
        #participant-container {
          display: flex;
          flex-wrap: wrap;

          .new-participant {
            .participant-field {
              .participant-label {
                margin-right: 10px;
              }
            }
          }
        }
      }

      #flc-combat-turns {
        .turn-wrapper {
          display: flex;
          align-items: center;

          .turn-counter {
            flex: 1;
            text-decoration: none;

            &:after {
              content: ')';
            }
          }

          .turn-actor {
            flex: 30;
            .turn-participant {
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .participant-name {
                @include col1();
              }

              .participant-hp {
                @include col2();
              }

              .participant-fp {
                @include col2();
              }

              .participant-condition {
                @include col4();
              }

              .participant-update {
                @include col1();
              }

              .condition-applicator {
                display: flex;
                flex-wrap: wrap;
              }
            }
          }
        }
      }
    }
  }
}
