.default {
  #bio-tab {
    .account-links {
      @include center();
    }

    p:first-child {
      margin-top: 0px;
    }

    [data-prefix="fab"] {
      margin-right: 5px;

      color: $primary-text;

      &:hover {
        color: $secondary;
      }
    }

    @media only screen and (min-width: 1200px) {
      .account-links {
        text-align: inherit;
      }
    }
  }
}
