.default {
  #bio-tab {

    @media only screen and (max-width: 600px) {
      .account-links {
        @include center();
      }
    }

    @media only screen and (min-width: 600px) {
      .account-links {
        @include center();
      }
    }

    @media only screen and (min-width: 768px) {

    }

    @media only screen and (min-width: 1200px) {
      .account-links {
        text-align: inherit;
      }
    }

    p:first-child {
      margin-top: 0px;
    }

    [data-prefix="fab"] {
      margin-right: 5px;
      color: black;

      &:hover {
        color: $lapis-lazuli;
      }
    }
  }
}
