$lightest-gray: #EEEEEE;
$slate-gray: #DDDDDD;
$moderate-gray: #AAAAAA;
$light-gray: #666666;

$background-color: #EEEEEE;

// Material Design Colors
$primary: #CCCCCC;
$primary-text: #004087;
$primary-light: #004FA7;
$primary-light-text: #FFFFFF;
$primary-lightest: #0170EB;
$primary-lightest-text: #FFFFFF;
$primary-dark: #00326A;
$primary-dark-text: #FFFFFF;
$primary-darkest: #00234A;
$primary-darkest-text: #FFFFFF;

$secondary: #CF4800;
$secondary-text: #FFFFFF;
$secondary-light: #FF8849;
$secondary-light-text: #000000;
$secondary-lightest: #FF5900;
$secondary-lightest-text: #000000;
$secondary-dark: #A33900;
$secondary-dark-text: #FFFFFF;
$secondary-darkest: #722800;
$secondary-darkest-text: #FFFFFF;

$tertiary: #CFA100;
$tertiary-text: #000000;
$tertiary-light: #FFC600;
$tertiary-light-text: #000000;
$tertiary-lightest: #FFC600;
$tertiary-lightest-text: #000000;
$tertiary-dark: #A37F00;
$tertiary-dark-text: #FFFFFF;
$tertiary-darkest: #725900;
$tertiary-darkest-text: #FFFFFF;
