$lightest-gray: #EEEEEE;
$slate-gray: #DDDDDD;
$moderate-gray: #AAAAAA;
$light-gray: #666666;

// Palette by Colors
$med-turq: #55D6BE;
$pale-green: #98FB98;
$lapis-lazuli: #2E5EAA;
$cyber-grape: #5B4E77;
$pineapple: #593959;

$med-turq-alpha: rgba(#55D6BE, 0.25);
$pineapple-alpha: rgba(#593959, 0.25);

// Material Design Colors
$primary: #003F87;
$primary-text: #FFFFFF;
$primary-light: #5E92F3;
$primary-light-text: #000000;
$primary-dark: #003C8F;
$primary-dark-text: #FFFFFF;

$secondary: #240087;
$secondary-text: #FFFFFF;
$secondary-light: #3d03de;
$secondary-light-text: #FFFFFF;
$secondary-dark: #C6A700;
$secondary-dark-text: #000000;
