@import "_variables";
@import "_standards";

// GENERAL
html, body {
  height: 100%;
  margin: 0px;
  background-color: $lightest-gray;
}

#root, #rs-app {
  height: inherit;
}

// DEFAULT STYLE
.default {
  #rs-main {
    height: inherit;
    background-color: $slate-gray;

    @media only screen and (min-width: 1200px) {
      height: inherit;
      display: flex;
      align-content: center;

      main {
        flex: 5;
      }

      nav {
        height: inherit;
        flex: 1;
      }
    }
  }
}
