@import "_variables";
@import "_standards";

// GENERAL
html, body {
  margin: 0px;
  background-color: $background-color;
  font-family: Arial, Helvetica, sans-serif;
}

// DEFAULT STYLE
.default {
  #rs-main {
    .hide-nav {
      display: none;
    }

    .show-nav {
      display: block;
    }

    @media only screen and (min-width: 1200px) {
      display: flex;
      align-content: center;

      main {
        flex: 4;
      }

      .nav-display {
        display: none;
      }

      .hide-nav {
        display: block;
      }

      nav {
        height: inherit;
        flex: 1;
      }
    }
  }
}
