@import "_variables";

// GENERAL
body {
  margin: 0px;
}

// DEFAULT STYLE
.default {
  #rs-main {
    display: flex;
    align-content: center;

    main {
      flex: 5;
      width: 100%;
    }

    nav {
      flex: 1;
    }

    a {
      &:hover {
        color: $lapis-lazuli;
      }
    }

    .about-section {
      h2 {
        margin: 0px;
      }

      margin: 10px;
    }
  }
}
