$lightest-gray: #EEEEEE;

.default {
  nav {
    .nav-card {
      margin: 10px;
      font-size: 20px;
      text-align: center;
      background-color: $lightest-gray;

      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }
}
