.default {
  nav {
    padding-top: 10px;

    .nav-card {
      padding: 5px;
      margin: 10px;
      font-size: 20px;
      text-align: center;
      @include secondary();
      transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

      &:hover {
        cursor: pointer;
        @include secondary-light();
        @include box-shadow(0px, 6px, 10px, 0px, rgba(0,0,0,0.2));
      }

      &:first-child {
        margin-top: 0px;
      }
    }

    .selected {
      @include primary();

      &:hover {
        cursor: default;
        @include primary();
      }
    }
  }
}
